{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block title %}
Select version
{% endblock %}

{% block main %}
<div class="wrapper">
<h1>Select option</h1>
<div class="card">
    <div class="card__version">
        <form method="post">
            <label for="select_version">Revision:</label>
            <select id=select_version name="v1" value="{{ request.form.get('v1', 'Empty version') }}">
                {% for conf in configs %}
                    <option value="{{conf.revision}}">{{conf.revision}} </option>
                {% endfor %}
            </select>         
            
        </form>
        <button id="test">View</button>
    </div>

    <div class="card__output">
        {% if content %} 
            <span class="output">{{content}}</span>             
        {% endif %}
    </div>
</div>
</div>

<script>

let button = document.querySelector('select')
let span = document.querySelector('span')

function getOpt() {
    let opt = document.querySelector('select').value
    let version = {
    v1: opt,
    }
    return version
}

button.addEventListener('change', function coro() {
    selectet_version = getOpt()
    fetch('', {
    method: 'POST', 
    body: JSON.stringify(selectet_version), 
    headers: {'Content-type': 'application/json; charset=UTF-8'},
    })
  .then((response) => response.json())

  .then((data) => {
    console.log(data);
    span.innerHTML = data.conf;    
  })
})

</script>
{% endblock %}